.jumbotron {
    margin: 0 auto;
    overflow-x: hidden;
    height: 102.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-me {
    /* height: -o-calc(100vh - 65px); */
    height: -webkit-calc(100vh - 7vh);
    /* height: -moz-calc(100vh - 65px); */
}
